body {
  background-color: white;
  color: black;
}

.header {
  text-align: center;
}

.content {
  margin: 1% 20% 1% 20%;
  font-family: "sans-serif";
  position: relative;
  display: inline-block;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: "monospace";
  font-size: 10px;
}

#modeToggle {
  cursor: pointer; 
}

.dark-mode {
  background-color: black;
  color: white;
}

a {
  color: #007acc;
}
  
a:hover {
  color: #3498db;
}

.skill-set {
  display: inline-block;
  vertical-align: top;
  margin-right: 10%;
}
