.mainContent {
  margin: 2% 20% 2% 20%;
  font-family: "sans-serif";
  position: relative;
}

.header {
  text-align: center;
}

.cornerText {
  font-family: "monospace";
  position: absolute; 
  font-size: 10px;
}

body {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

#toggle {
  position: absolute;
  top: 1%;
  right: 1%;
}


a {
  color: #007acc;
}
  
a:hover {
  color: #3498db;
}

.skill-set {
  float: left;
  width: 50%;
}
