<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link rel="stylesheet" href="main.css">
    <script src="main.js"></script> 
  </head>

  <body>

    <div class="content">
      {{> header}}

      <h2>Projects</h2>
      {{> projects}}

      <br>

      <div>
        <h2>Skill Sets</h2>
        {{> skillSets}}
      </div>

      <br>
      <hr>
      <br>

      {{> footer}}

    </div>
  </body>
</html>
